@use '@angular/material' as mat;
@use 'scss/palette' as gui;

@include mat.core();

// hue. Available color palettes: https://material.io/design/color/
$web-primary: mat.define-palette(gui.$black-palette);
$web-accent: mat.define-palette(gui.$green-palette);
$web-warn: mat.define-palette(mat.$red-palette);

$web-theme: mat.define-light-theme(
  (
    color: (
      primary: $web-primary,
      accent: $web-accent,
      warn: $web-warn,
    ),
  )
);

@include mat.all-component-themes($web-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 1.2rem;
  font-family: 'Red Hat Text', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
  font-family: 'Red Hat Display', sans-serif;
}
p {
  font-weight: 400;
  font-family: 'Red Hat Text', sans-serif;
}
